<div class="dropdown"
	ng-hide="card.x_overlap || card.y_overlap">
	<a style="height: 20px; width: 16px;" id="cardDropdown" class="dropdown-toggle"
		ng-hide="card.locked" ng-click="dropdown" aria-expanded="true">
		<i class="card-icon glyphicon glyphicon-cog"></i>
	</a>
	<ul class='dropdown-menu dropdown-menu-right' aria-labelledby='cardDropdown' stop-click>
		<li><label>
			<input type="checkbox" ng-model="card.benefit.toggle"> Benefit
		</label></li>
		<li><label>
			<input type="checkbox" ng-model="card.action_1.toggle"> Action 1
		</label></li>
		<li><label>
			<input type="checkbox" ng-model="card.action_2.toggle"> Action 2
		</label></li>
		<li><label>
			<input type="checkbox" ng-model="card.action_3.toggle"> Action 3
		</label></li>
	</ul>
</div>