<div class="content-table"
	style="font-size: {{card.fontSize}}px;">
	<div class="content-row">
		<div class="content-cell-top">
			<div>
				<img src="modules/cards/img/logo_trait.png"
					alt="Trait" class="logo-trait pull-left" />
				<h5 style="margin-top: 0">
					<strong>{{card.name}}</strong>
					<span ng-hide="card.name"><em>Trait Name</em></span>
					<hr class="black-line">
					<span>Keywords</span> Trait <span ng-show="card.level >= 0">Level {{card.level}}</span>
					<br />
				</h5>
			</div>
			<div class="text-center text-descriptive">
				{{card.description}}
			</div>
		</div>
	</div>
	<div class="content-row">
		<div class="content-cell-bottom">
			<div ng-show="card.benefit.toggle" style="margin: 4% 0 4% 0">
				<strong>Benefit: </strong>{{card.benefit.content}}
			</div>
			<div ng-show="card.cs_quote" style="margin: 2% 4% 0 4%">
				"<strong>Critical Success: </strong>{{card.cs_quote}}"
			</div>
			<div card-action style="margin: 4% 0 4% 0"
				cardAction="card.action_"
				ng-show="card.action_1.toggle">
			</div>
			<div card-action style="margin: 4% 0 4% 0"
				cardAction="card.action_2"
				ng-show="card.action_2.toggle">
			</div>
			<div card-action style="margin: 4% 0 4% 0"
				cardAction="card.action_3"
				ng-show="card.action_3.toggle">
			</div>
			<span class="pull-left">
				<b>X:</b> {{card.x_index}}
				<span ng-show="card.x_overlap">(-)</span> 
				<span ng-hide="card.x_overlap">(+)</span> 
				 / 
				<b>Y:</b> {{card.y_index}}
				<span ng-show="card.y_overlap">(-)</span>
				<span ng-hide="card.y_overlap">(+)</span>
			</span>
			<span class="pull-right">
				{{card.cardNumber}}
			</span>
		</div>
	</div>
</div>
<div class="dashboard">
	<label>
		<input type="checkbox" ng-model="card.locked"> 
		<span style="color: white;"> Card Locked </span>
	</label>
	<div ng-hide="card.locked">
		<label>
			<input type="number" class="number-picker text-center"
			ng-model="card.fontSize" stop-event value="{{card.fontSize}}">
			<span style="color: white;"> Font </span>
		</label>
		<label>
			<input type="number" class="number-picker text-center"
				ng-model="card.cardNumber" stop-event
				value="{{card.cardNumber}}">
			<span style="color: white;"> Card </span>
		</label>
		<br />
		<label style="color: white;"><input type="checkbox" ng-model="card.benefit.show"> Trait Benefit</label>
		<br />
		<label style="color: white;"><input type="checkbox" ng-model="card.action_1.show"> Trait Action</label>
		<div ng-show="card.action_1.show">
			<strong style="color: white;">Type: </strong>
			<select class="pull-right" ng-model="card.action_1.actionType" style="width: 176px;"
				ng-options="actionType for actionType in dataSRVC.actionTypes">
			</select>
		</div>
		<div>
			<strong style="color: white;">Keywords: </strong>
			<select class="pull-right" ng-model="card.action_1.keywords" style="width: 144px;"
				ng-options="actionType for actionType in dataSRVC.actionTypes">
			</select>
		</div>
	</div>
</div>