<div class="title-row text-8" ng-if="cardAction.usage !== 'Defense'">
	<div class="title-block">
		<strong class="pull-left">
			{{cardAction.usage}}<span ng-if="cardAction.attack.show && cardAction.attack.attackType">, {{cardAction.attack.attackType}}</span><span ng-if="cardAction.reflexive && cardAction.attack.attackType === 'Melee'">, Reflexive</span><span ng-if="cardAction.thrown && cardAction.attack.attackType === 'Ranged'">, Thrown</span>
		</strong>
	</div>
	<div class="title-block">
		<div class="pull-right" ng-if="panel.locked">
			<strong>
				{{cardAction.frequency}}
			</strong>
			<strong ng-if="!cardAction.frequency">
				[Frequency]
			</strong>
		</div>
		<div ng-if="!panel.locked" class="dropdown dropup pull-right"
			dropdown stop-event on-toggle="$parent.$parent.$parent.$parent.toggled(open)">
			<a id="cardDropdown" class="dropdown-toggle" dropdown-toggle
				ng-click="dropdown" aria-expanded="true">
				<strong>{{cardAction.frequency}}</strong>
				<strong ng-if="!cardAction.frequency">[Frequency]</strong>
			</a>
			<ul class="dropdown-menu" aria-labelledby="cardDropdown" stop-click>
				<li role="presentation" class="dropdown-header">Action Frequency</li>
				<li ng-repeat="frequency in $parent.$parent.$parent.dataSRVC.actionFrequency"><label>
					<input type="radio" value="{{frequency}}"
						ng-model="cardAction.frequency">
					{{frequency}}
				</label></li>
			</ul>
		</div>
	</div>
</div>