<div ng-if="card.benefit.show" class="text-8"
	style="white-space: normal;">
	<div ng-if="panel.locked">
		<strong>Benefit: </strong>{{card.benefit.content}}
	</div>
	<div ng-if="!panel.locked">
		<label class="indent-left" for="benefit">Benefit: </label>
		<textarea elastic-textarea stop-event
			ng-model="card.benefit.content"
			id="benefit" class="fill-width card-textarea"
			style="text-indent: 3.8em;" rows="1">
		</textarea>
	</div>
	<br />
	<div ng-if="card.benefit.criticalSuccess.show"
		style="margin: .25em .5em .25em .5em; white-space: normal;">
		<div ng-if="panel.locked">
			<strong>Critical Success: </strong>{{card.benefit.criticalSuccess.content}}
		</div>
		<div ng-if="!panel.locked">
			<label class="indent-left" style="left: 1.3em;" for="criticalSuccess">Critical Success: </label>
			<textarea elastic-textarea stop-event ng-change="resize()"
				ng-model="card.benefit.criticalSuccess.content"
				id="criticalSuccess" class="fill-width card-textarea" rows="1"
				style="width: 12em; text-indent: 8.35em;" >
			</textarea>
		</div>
		<br />
	</div>
</div>