<div ng-if="cardAction.frequency === 'Free'
	|| cardAction.frequency === 'Responsive'
	|| cardAction.frequency === 'Disruptive'"
	style="white-space: normal;" class="text-8">
	<div ng-if="panel.locked">
		<strong>Prompt: </strong>{{cardAction.prompt}}
	</div>
	<div ng-if="!panel.locked">
		<label for="prompt" class="indent-left">Prompt: </label>
		<textarea elastic-textarea stop-event ng-change="resize()"
			ng-model="cardAction.prompt"
			id="prompt" class="card-textarea" 
			style="text-indent: 3.9em;" rows="1">
		</textarea>
	</div>
</div>
