<div class="content-table">
<table class="fill-parent">
<tbody>
	<tr>
		<td style="vertical-align: top; width: 1px;">
			<div card-logo></div>
	 	</td>
	 	 <td style="vertical-align: top;">
			<div card-header></div>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="vertical-align: center; ">
			<div card-description></div>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="vertical-align: bottom; ">
			<div card-modifiers></div>
			<div card-benefit></div>
			<div ng-repeat="action in card.actions" card-action="action"></div>
			<div card-footer></div>
		 </td>
	</tr>
</tbody>
</table>
</div>
