<div class="dropdown pull-left" dropdown on-toggle="toggled(open)" stop-event>
	<a id="cardDropdown" ng-click="dropdown" aria-expanded="true"
		class="dropdown-toggle" dropdown-toggle>
		<span class="text-argos text-18"
			ng-class="{'text-14': card.cardType === 'Augment',
				'text-16': card.cardType === 'Origin',
				'text-narrow': card.cardType === 'Augment'}">
			{{card.cardType}}&nbsp;
		</span>
	</a>
	<div ng-if="panel.locked" class="dropdown-menu" aria-labelledby="cardDropdown"
		style="width: 14.8em; left: -.65em;">
		<ul class="col-xs-6 text-8">
			<li role="presentation" class="dropdown-header" stop-click>File Options</li>
			<li ng-click="changeFeatureCard(card)"><label>
				<i class="glyphicon glyphicon-chevron-left alert-primary"></i> Change <span class="text-capitalize">{{card.cardType}}</span>
			</label></li>
		</ul>
	</div>
	
	<div class="dropdown-menu" aria-labelledby="cardDropdown"
		style="width: 14.8em; left: -.65em;">
		<ul class="col-xs-6 text-8">
			<li role="presentation" class="dropdown-header" stop-click>File Options</li>
			<li ng-click="$parent.addCard($parent.Bakery.resource, card.cardType, card.cardNumber, true, false)"><label>
				<i class="glyphicon glyphicon-chevron-left alert-primary"></i> Insert Before
			</label></li>
			<li ng-click="$parent.addCard($parent.Bakery.resource, card.cardType, card.cardNumber+1, true, false)"><label>
				<i class="glyphicon glyphicon-chevron-right alert-primary"></i> Insert After
			</label></li>
			<li role="presentation" class="dropdown-header" stop-click>Edit Options</li>
			<li data-ng-click="$parent.BuilderHub.toggleCardLock(panel);" ng-hide="panel.locked"><label>
				<i class="glyphicon glyphicon-lock alert-primary"></i> Lock Card
			</label></li>
			<li data-ng-click="$parent.BuilderHub.toggleCardLock(panel);" ng-show="panel.locked"><label>
				<i class="glyphicon glyphicon-lock blue-icon alert-primary"></i> Unlock Card
			</label></li>
			<li ng-hide="featureCard.$pristine" data-ng-click="$parent.editCard(panel); featureCard.$setPristine();"><label>
				<i class="glyphicon glyphicon-ok alert-success"></i> Save Changes
			</label></li>
			<li ng-hide="featureCard.$pristine" data-ng-click="$parent.readCard(panel); featureCard.$setPristine();"><label>
				<i class="glyphicon glyphicon-remove alert-danger"></i> Cancel Changes
			</label></li>
			<li ng-hide="panel.locked" data-ng-click="$parent.deleteCard(panel);"><label>
				<i class="glyphicon glyphicon-trash alert-warning"></i> Delete Card
			</label></li>
		</ul>
		<ul class="col-xs-6 text-8" ng-hide="panel.locked">
			<li role="presentation" class="dropdown-header">Card Features</li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.description.show"> Description
			</label></li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.benefit.show"> Benefit
			</label></li>
			<li ng-if="card.benefit.show" stop-click><label>
				<input type="checkbox" ng-model="card.benefit.criticalSuccess.show"> Critical Success
			</label></li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.actions[0].show"> Action 1
			</label></li>
			<li ng-if="card.cardType === 'Item'" stop-click><label>
				<input type="checkbox" ng-model="card.actions[1].show"> Action 2
			</label></li>
			<li ng-if="card.cardType === 'Item'" stop-click><label>
				<input type="checkbox" ng-model="card.actions[2].show"> Action 3
			</label></li>
			<li ng-if="card.cardType === 'Item'" role="presentation" class="dropdown-header" stop-click>Modifiers</li>
			<li ng-if="card.cardType === 'Item'" stop-click><label>
				<input type="checkbox" ng-model="card.durability.show"> Durability
			</label></li>
			<li ng-if="card.cardType === 'Item'" stop-click><label>
				<input type="checkbox" ng-model="card.speed.show"> Speed
			</label></li>
			<li ng-if="card.cardType === 'Item'" stop-click><label>
				<input type="checkbox" ng-model="card.finesse.show"> Finesse
			</label></li>
		</ul>
	</div>
</div>