<div ng-switch on="card.cardType" class="fill-parent">
	<div ng-switch-when="pc1" card="card" 
		card-pc-1 class="fill-parent"></div>
	<div ng-switch-when="pc2" card="card"
		card-pc-2 class="fill-parent"></div>
	<div ng-switch-when="pc3" card="card"
		card-pc-3 class="fill-parent"></div>
	<div ng-switch-when="trait" card="card"
		card-feature class="card-trait fill-parent"></div>
	<div ng-switch-when="feat" card="card"
		card-feature class="card-feat fill-parent"></div>
	<div ng-switch-when="augment" card="card"
		card-feature class="card-augment fill-parent"></div>
	<div ng-switch-when="item" card="card"
		card-feature class="card-item fill-parent"></div>
</div>