<div ng-if="card.cardType === 'Item'" class="text-8">
	<div ng-if="panel.locked && card.durability.show">
		<strong>Durability Modifier: </strong>{{card.durability.modifier}}
	</div>
	<div ng-if="!panel.locked && card.durability.show">
		<div class="dropdown dropup" dropdown stop-event on-toggle="toggled(open)">
			<a id="cardDropdown" class="dropdown-toggle" dropdown-toggle
				ng-click="dropdown" aria-expanded="true">
				<strong>Durability Modifier: </strong>
				{{card.durability.modifier}}
			</a>
			<div class="dropdown-menu dropup number-picker">
				<div class="text-center"><strong>Durability<br />Modifier</strong></div>
				<div class="input-group input-group-sm">
					<a type="button" class="input-group-addon btn btn-default"
						ng-click="$parent.cards.changeDurability(card, 0)" stop-click stop-event>
						<i class="glyphicon glyphicon-minus"></i>
					</a>
					<input type="text" class="form-control text-center"
						ng-model="card.durability.modifier" stop-click stop-event/>
					<a type="button" class="input-group-addon btn btn-default"
						ng-click="$parent.cards.changeDurability(card, 1);" stop-click stop-event>
						<i class="glyphicon glyphicon-plus"></i>
					</a>
				</div>
			</div>
			<br />
		</div>
	</div>
	<div ng-if="panel.locked && card.speed.show">
		<strong>Speed Modifier: </strong>{{card.speed.modifier}}
	</div>
	<div ng-if="!panel.locked && card.speed.show">
		<div class="dropdown dropup" dropdown stop-event on-toggle="toggled(open)">
			<a id="cardDropdown" class="dropdown-toggle" dropdown-toggle
				ng-click="dropdown" aria-expanded="true">
				<strong>Speed Modifier: </strong>
				{{card.speed.modifier}}
			</a>
			<div class="dropdown-menu dropup number-picker">
				<div class="text-center"><strong>Speed<br />Modifier</strong></div>
				<div class="input-group input-group-sm">
					<a type="button" class="input-group-addon btn btn-default"
						ng-click="$parent.cards.changeSpeed(card, 0)" stop-click stop-event>
						<i class="glyphicon glyphicon-minus"></i>
					</a>
					<input type="text" class="form-control text-center"
						ng-model="card.speed.modifier" stop-click stop-event/>
					<a type="button" class="input-group-addon btn btn-default"
						ng-click="$parent.cards.changeSpeed(card, 1);" stop-click stop-event>
						<i class="glyphicon glyphicon-plus"></i>
					</a>
				</div>
			</div>
			<br />
		</div>
	</div>
	<div ng-if="panel.locked && card.finesse.show">
		<strong>Finesse Modifier: </strong>{{card.finesse.modifier}}
	</div>
	<div ng-if="!panel.locked && card.finesse.show">
		<div class="dropdown dropup" dropdown stop-event on-toggle="toggled(open)">
			<a id="cardDropdown" class="dropdown-toggle" dropdown-toggle
				ng-click="dropdown" aria-expanded="true">
				<strong>Finesse Modifier: </strong>
				{{card.finesse.modifier}}
			</a>
			<div class="dropdown-menu dropup number-picker">
				<div class="text-center"><strong>Finesse<br />Modifier</strong></div>
				<div class="input-group input-group-sm">
					<a type="button" class="input-group-addon btn btn-default"
						ng-click="$parent.cards.changeFinesse(card, 0)" stop-click stop-event>
						<i class="glyphicon glyphicon-minus"></i>
					</a>
					<input type="text" class="form-control text-center"
						ng-model="card.finesse.modifier" stop-click stop-event/>
					<a type="button" class="input-group-addon btn btn-default"
						ng-click="$parent.cards.changeFinesse(card, 1);" stop-click stop-event>
						<i class="glyphicon glyphicon-plus"></i>
					</a>
				</div>
			</div>
			<br />
		</div>
	</div>
</div>
<br ng-if="card.durability.show || card.speed.show || card.finesse.show" />