<div ng-if="card.benefit.show" style="margin: 6px 0 6px 0; white-space: normal;">
	<div ng-if="card.locked">
		<strong>Benefit: </strong>{{card.benefit.content}}
	</div>
	<div ng-if="!card.locked">
		<label style="position: absolute;" for="benefit">Benefit: </label>
		<textarea elastic-textarea stop-event
			ng-model="card.benefit.content"
			id="benefit" class="fill-width card-input"
			style="text-indent: 3.8em;" rows="1">
		</textarea>
	</div>
	<br />
	<div ng-if="card.benefit.criticalSuccess.show" style="margin: 6px 12px 6px 12px; white-space: normal;">
		<div ng-if="card.locked">
			<strong>Critical Success: </strong>{{card.benefit.criticalSuccess.content}}
		</div>
		<div ng-if="!card.locked">
			<label style="position: absolute; left: 25px;" for="criticalSuccess">Critical Success: </label>
			<textarea elastic-textarea stop-event ng-change="resize()"
				ng-model="card.benefit.criticalSuccess.content"
				id="criticalSuccess" class="fill-width card-input" rows="1"
				style="width: 200; text-indent: 8.35em;" >
			</textarea>
			<br />
		</div>
	</div>
</div>