<div fit-content class="content-table">
	<div class="content-row">
		<div class="content-cell-top">
			<div card-logo></div>
	 	</div>
	 	<div class="content-cell-top">
			<div card-header></div>
		</div>
	</div>
	<div class="content-row">
		<div class="content-cell-top">
			<div card-description></div>
		</div>
	</div>
	<div class="content-row">
		<div class="content-cell-bottom">
			<div card-modifiers></div>
			<div card-benefit></div>
			<div ng-repeat="action in card.actions" card-action="action"></div>
			<div card-footer></div>
		</div>
	</div>
</div>
