<div ng-show="editAction.show" stop-event>
	<div class="dropdown pull-left" style="display: inline-block"
		ng-hide="card.x_overlap || card.y_overlap">
		<a style="height: 20px; width: 16px;" id="actionDropdown" class="dropdown-show"
			ng-click="dropdown" aria-expanded="true">
			<i class="card-icon glyphicon glyphicon-cog"></i>
		</a>
		<ul class='dropdown-menu dropdown-menu' aria-labelledby='actionDropdown' stop-click>
			<li><label>
				<input type="checkbox" ng-model="editAction.prompt.show"> Prompt
			</label></li>
			<li><label>
				<input type="checkbox" ng-model="editAction.effect.show"> Effect
			</label></li>
			<li><label>
				<input type="checkbox" ng-model="editAction.defense.show"> Defense
			</label></li>
			<li><label>
				<input type="checkbox" ng-model="editAction.attack.show"> Attack
			</label></li>
		</ul>
	</div>
	<strong><input class="clear-input pull-left" style="width: 112px;" type="text" ng-model="editAction.name"></strong>
	
	<span class="pull-right">{{editAction.actionType}}</span>
	
	<br />
	<hr class="black-line">
	<div>
		<span class="pull-left">
			<strong><input class="clear-input" style="width: 112px;" type="text" ng-model="editAction.keywords"></strong>
		</span>
		<span class="pull-right">
			<strong><input class="clear-input" style="width: 112px;" type="text" ng-model="editAction.frequency"></strong>
		</span>
		<br />
	</div>
	<div ng-show="editAction.prompt.show">
		<strong>Prompt: </strong>{{editAction.prompt.content}}
	</div>
	<div ng-show="editAction.effect.show">
		<strong>Effect: </strong>{{editAction.effect.content}}
	</div>
	<div ng-show="editAction.defense.show">
		<strong>Defense: </strong>{{editAction.defense.content}}
	</div>
	<div ng-show="editAction.attack.show">
		<strong>Attack: </strong>{{editAction.attack.content}}
	</div>
</div>