<div class="content-table">
	<div ng-show="card.name">
		<img ng-show="card.cardType"
			src="modules/cards/img/logo_item.png"
			alt="Item"
			class="logo-trait pull-left" />
		<h5 ng-show="card.name" style="margin-top: 0">
			<strong>{{card.name}}</strong>
			<div card-menu class="pull-right"></div>
			<hr class="black-line" ng-show="card.name">
			(Edit Mode)
			<br />
		</h5>
	</div>
	<span class="pull-right">
		<b>X:</b> {{card.x_index}}
		<span ng-show="card.x_overlap">(-)</span> 
		<span ng-hide="card.x_overlap">(+)</span> 
		 / 
		<b>Y:</b> {{card.y_index}}
		<span ng-show="card.y_overlap">(-)</span>
		<span ng-hide="card.y_overlap">(+)</span>
	</span>
</div>