<form class="content-panel" onSubmit="JavaScript:$parent.BREAD.editCard(card);" name="featureCard">
	<table class="fill-parent">
		<tbody>
			<tr>
				<td style="vertical-align: top; width: 1px;">
					<div card-logo></div>
				</td>
				<td style="vertical-align: top;">
					<div card-header></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: top;">
					<div card-description></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom;">
					<div card-modifiers></div>
					<div card-benefit></div>
					<div ng-repeat="action in card.actions" card-action="action" panel="panel"></div>
					<div card-footer></div>
				 </td>
			</tr>
		</tbody>
	</table>
</form>
<div style="color: darkRed; position: absolute; top: 20em; left: 0; width: 2em;" class="text-center">
	<a data-ng-click="$parent.BREAD.editCard(panel); featureCard.$setPristine();"
		ng-show="featureCard.$dirty" stop-event>
		<i class="glyphicon glyphicon-ok green-icon"></i>
	</a>
	<a data-ng-click="$parent.BREAD.readCard(panel); featureCard.$setPristine();"
		ng-show="featureCard.$dirty" stop-event>
		<i class="glyphicon glyphicon-remove red-icon"></i>
	</a>
</div>
<div style="color: darkRed; position: absolute; top: 20em; left: 14em; width: 1em;" class="text-center">
	<a data-ng-click="$parent.BREAD.toggleCardLock(panel);" stop-event>
		<i ng-hide="$parent.panel.locked" class="glyphicon glyphicon-lock grey-icon"></i>
		<i ng-show="$parent.panel.locked" class="glyphicon glyphicon-lock blue-icon"></i>
	</a>
</div>