<section data-ng-controller="CardsCtrl"
	data-ng-init="cards.browseCards(1)">
	<div class="container-fluid deck-panel"
		ng-style="{'height': (windowHeight - 50)+'px'}">
		<div card-deck ng-mouseleave=""
			ng-style="{'height': (windowHeight - 50)+'px',
				'margin-left': (windowScale * 2)+'px',
				'width': (windowScale * cardDeck.getDeckWidth('home'))+'px'}">
			<ul>
				<li card-panel card-layout card="card" ng-repeat="card in cards.cardList"
					ng-class="{'stacked': card.stacked, 'dragging': card.dragging,
						'x_overlap': card.x_overlap, 'y_overlap': card.y_overlap}"
					ng-style="{'z-index': 4998 - card.x_coord + card.y_coord/2,
						'margin-top': ($parent.windowScale * 2)+'px'}"
					ng-mousemove="true" ng-click="true">
				</li>
			</ul>
		</div>
	</div>
</section>