<div class="dropdown pull-left">
	<a id="cardDropdown" class="dropdown-toggle"
		ng-click="dropdown" aria-expanded="true"
		ng-switch on="card.cardType">
		<img ng-switch-when="trait" 
			src="modules/cards/img/logo_trait.png" 
			alt="Trait" class="logo-trait"/>
		<img ng-switch-when="feat" 
			src="modules/cards/img/logo_feat.png" 
			alt="Feat" class="logo-feat"/>
		<img ng-switch-when="augment" 
			src="modules/cards/img/logo_augment.png" 
			alt="Augment" class="logo-augment"/>
		<img ng-switch-when="item" 
			src="modules/cards/img/logo_item.png" 
			alt="Item" class="logo-item"/>
	</a>
	<div class="dropdown-menu" aria-labelledby="cardDropdown">
		<ul class="card-menu-list">
			<li role="presentation" class="dropdown-header" stop-click>File Options</li>
			
			<li ng-click="cards.addCard(card.cardNumber)"><label>
				<i class="glyphicon glyphicon-chevron-left alert-primary"></i> Insert Before
			</label></li>
			<li ng-click="cards.addCard(card.cardNumber+1)"><label>
				<i class="glyphicon glyphicon-chevron-right alert-primary"></i> Insert After
			</label></li>
			<li ng-click="cards.lockCard(card)" ng-if="!card.locked"><label>
				<i class="glyphicon glyphicon-lock alert-primary"></i> Lock Card
			</label></li>
			<li ng-click="cards.unlockCard(card)" ng-if="card.locked"><label>
				<i class="glyphicon glyphicon-lock alert-primary"></i> Unlock Card
			</label></li>
		</ul>
		<ul class="card-menu-list" ng-if="!card.locked">
			<li role="presentation" class="dropdown-header" stop-click>Edit Options</li>
			<li ng-click="cards.editCard(card)"><label>
				<i class="glyphicon glyphicon-ok alert-success"></i> Save Changes
			</label></li>
			<li ng-click="cards.editCard(card)"><label>
				<i class="glyphicon glyphicon-remove alert-danger"></i> Undo Changes
			</label></li>
			<li ng-click="cards.deleteCard(card)"><label>
				<i class="glyphicon glyphicon-trash alert-warning"></i> Delete Card
			</label></li>
			<li role="presentation" class="dropdown-header" stop-click>Card Features</li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.description.show" stop-click> Description
			</label></li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.benefit.show" stop-click> Benefit
			</label></li>
			<li ng-if="card.benefit.show" stop-click><label>
				<input type="checkbox" ng-model="card.benefit.criticalSuccess.show" stop-click> Critical Success
			</label></li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.actions[0].show" stop-click> Action 1
			</label></li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.actions[1].show" stop-click> Action 2
			</label></li>
			<li stop-click><label>
				<input type="checkbox" ng-model="card.actions[2].show" stop-click> Action 3
			</label></li>
		</ul>
	</div>
</div>