<div class="content-panel">
	<div ng-if="card.cardRole === 'architect'">
		<h4>Card Options</h4>
		<input type="submit" style="width: 100%"
			class="btn btn-lg btn-success text-center"
			ng-click="cards.addCard(0)"
			value="Add New Card ->">
	</div>
	<div ng-if="card.cardRole === 'pcSummary'">
		<h4>PC Options</h4>
		<input type="submit" style="width: 100%"
			class="btn btn-lg btn-success text-center"
			ng-click="newPc()"
			value="New Player Character">
	</div>
	<div ng-if="card.cardRole === 'deckSummary'">
		<h4>Deck Options</h4>
		<input type="submit" style="width: 100%"
			class="btn btn-lg btn-success text-center"
			ng-click="newDeck()"
			value="Create New Deck">
	</div>
</div>