<div ng-switch on="panel.panelType" class="fill-parent">
	<div ng-switch-when="playerOptions" player-options class="fill-parent"></div>
	<div ng-switch-when="builderOptions" builder-options class="fill-parent"></div>
	<div ng-switch-when="narratorOptions" narrator-options class="fill-parent"></div>
	
	<div ng-switch-when="pcSummary" pc-summary class="fill-parent"></div>
	<div ng-switch-when="pcOptions" pc-options class="fill-parent"></div>
	
	<div ng-switch-when="deckSummary" deck-summary class="fill-parent {{panel.deckType}}"></div>
	<div ng-switch-when="deckOptions" deck-options class="fill-parent"></div>
	
	<div ng-switch-when="npcSummary" npc-summary class="fill-parent"></div>
	<div ng-switch-when="npcOptions" npc-options class="fill-parent"></div>
	
	<div ng-switch-when="campaignSummary" campaign-summary class="fill-parent"></div>
	<div ng-switch-when="campaignOptions" campaign-options class="fill-parent"></div>
	
	<div ng-switch-when="deckDemo" deck-demo class="fill-parent"></div>
	
	<div ng-switch-when="pc1" card-pc-1 class="fill-parent"></div>
	<div ng-switch-when="pc2" card-pc-2 class="fill-parent"></div>
	<div ng-switch-when="pc3" card-pc-3 class="fill-parent"></div>
	
	<div ng-switch-when="Aspect" feature-card
		card="panel.aspectData" panel="panel"
		class="card-aspect fill-parent"></div>
	<div ng-switch-when="Trait" feature-card
		card="panel.traitData" panel="panel"
		class="card-trait fill-parent"></div>
	<div ng-switch-when="Feat" feature-card
		card="panel.featData" panel="panel"
		class="card-feat fill-parent"></div>
	<div ng-switch-when="Augment" feature-card
		card="panel.augmentData" panel="panel"
		class="card-augment fill-parent"></div>
	<div ng-switch-when="Item" feature-card
		card="panel.itemData" panel="panel"
		class="card-item fill-parent"></div>
	<div ng-switch-when="Origin" feature-card
		card="panel.originData" panel="panel"
		class="card-origin fill-parent"></div>
	<div ng-switch-when="Note" feature-card
		card="panel.noteData" panel="panel"
		class="card-note fill-parent"></div>
</div>

<div style="color: darkRed; position: absolute; top: 0; left: 13.25em; height: 1.5em; width: 1.5em;" class="text-center">
	<table width="100%" height="100%" class="text-6">
		<tbody>
			<tr height="33%">
				<td colspan="3">
					<span ng-show="panel.above.adjacent">&utri;</span>
					<span ng-show="panel.above.overlap">&utrif;</span>
					<span ng-hide="panel.above.adjacent || panel.above.overlap">&cir;</span>
				</td>
			</tr>
			<tr height="33%">
				<td width="33%">
					<span ng-show="panel.left.adjacent">&ltri;</span>
					<span ng-show="panel.left.overlap">&ltrif;</span>
					<span ng-hide="panel.left.adjacent || panel.left.overlap">&cir;</span>
				</td>
				<td width="33%">
					<span ng-show="!panel.dragging">&#x025FB;</span>
					<span ng-show="panel.dragging">&#x025FC;</span>
				</td>
				<td width="33%">
					<span ng-show="panel.right.adjacent">&rtri;</span>
					<span ng-show="panel.right.overlap">&rtrif;</span>
					<span ng-hide="panel.right.adjacent || panel.right.overlap">&cir;</span>
				</td>
			</tr>
			<tr height="33%">
				<td colspan="3">
					<span ng-show="panel.below.adjacent">&dtri;</span>
					<span ng-show="panel.below.overlap">&dtrif;</span>
					<span ng-hide="panel.below.adjacent || panel.below.overlap">&cir;</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>