<div ng-switch on="card.cardType" class="fill-parent">
	<div ng-switch-when="pcSummary" card="card"
		card-pc-summary class="fill-parent"></div>
	<div ng-switch-when="campaignSummary" card="card"
		card-campaign-summary class="fill-parent"></div>
	<div ng-switch-when="pc1" card="card"
		card-pc-1 class="fill-parent"></div>
	<div ng-switch-when="pc2" card="card"
		card-pc-2 class="fill-parent"></div>
	<div ng-switch-when="pc3" card="card"
		card-pc-3 class="fill-parent"></div>
	<div ng-switch-when="trait" card="card"
		pc-feature class="card-trait fill-parent"></div>
	<div ng-switch-when="feat" card="card"
		pc-feature class="card-feat fill-parent"></div>
	<div ng-switch-when="augment" card="card"
		pc-feature class="card-augment fill-parent"></div>
	<div ng-switch-when="item" card="card"
		pc-feature class="card-item fill-parent"></div>
	<div ng-switch-when="note" card="card"
		pc-feature class="card-note fill-parent"></div>
	<div ng-switch-when="origin" card="card"
		npc-origin class="card-origin fill-parent"></div>
</div>