<section data-ng-controller="CoreController" screen-size style="height: {{CoreVars.windowHeight - 50}}px">
	<div class="container-fluid deck-panel" style="height: {{CoreVars.windowHeight - 50}}px">
		<div class="fill-parent modal-overlay" ng-click="CoreVars.hideModal()" ng-show="CoreVars.modalShown"></div>
		<div deck-stack ng-mouseleave="true">
			<ul>
				<li card-panel panel="panel" ng-repeat="panel in Bakery.resource.cardList"
					ng-class="{'stacked': panel.stacked, 'dragging': panel.dragging,
						'x_overlap': panel.x_overlap, 'y_overlap': panel.y_overlap}"
					ng-style="{'z-index': 4998 - panel.x_coord + panel.y_coord}"
					ng-mousemove="true" ng-click="true">
				</li>
			</ul>
		</div>
	</div>
	<div dice-box ng-show="CoreVars.diceBoxShown"></div>
	<div modal-deck ng-show="CoreVars.modalDeckShown"></div>
</section>
