<div class="content-panel">
	<h4>Architect Options</h4>
	<input type="submit" style="width: 100%"
		class="btn btn-lg btn-success text-center"
		ng-click="BREAD.addDeck('trait', 64)"
		value="New Trait Deck">
	<br />
	<input type="submit" style="width: 100%"
		class="btn btn-lg btn-success text-center"
		ng-click="BREAD.addDeck('feat', 64)"
		value="New Feat Deck">
	<br />
	<input type="submit" style="width: 100%"
		class="btn btn-lg btn-success text-center"
		ng-click="BREAD.addDeck('augment', 64)"
		value="New Augment Deck">
	<br />
	<input type="submit" style="width: 100%"
		class="btn btn-lg btn-success text-center"
		ng-click="BREAD.addDeck('item', 64)"
		value="New Item Deck">
</div>