<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-1 col-xs-10
				col-sm-offset-2 col-sm-8
				col-md-offset-3 col-md-6
				col-lg-offset-4 col-lg-4
				text-center login-form-background">
		<h3 class="text-center">Sign up using social account</h3>
		<div style="padding-bottom: 20%">
			<a href="/auth/facebook" class="undecorated-link col-xs-3">
				<img src="/modules/users/img/buttons/facebook.png" style="width: 100%">
			</a>
			<a href="/auth/twitter" class="undecorated-link col-xs-3">
				<img src="/modules/users/img/buttons/twitter.png" style="width: 100%">
			</a>
			<a href="/auth/google" class="undecorated-link col-xs-3">
				<img src="/modules/users/img/buttons/google.png" style="width: 100%">
			</a>
			<a href="/auth/linkedin" class="undecorated-link col-xs-3">
				<img src="/modules/users/img/buttons/linkedin.png" style="width: 100%">
			</a>
		</div>
		<h3 class="text-center">Or with your email</h3>
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div data-ng-show="error" class="alert alert-danger" role="alert">
						<strong data-ng-bind="error"></strong>
					</div>
				</div>
				
				<div class="form-group">
					<div class="input-group input-group-lg">
						<label class="input-group-addon" for="firstName">
							<i class="text-muted glyphicon glyphicon-star"></i>
						</label>
						<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
					</div>
				</div>
				
				<div class="form-group">
					<div class="input-group input-group-lg">
						<label class="input-group-addon" for="lastName">
							<i class="text-muted glyphicon glyphicon-star"></i>
						</label>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
					</div>
				</div>
				
				<div class="form-group">
					<div class="input-group input-group-lg">
						<label class="input-group-addon" for="email">
							<i class="text-muted glyphicon glyphicon-envelope"></i>
						</label>
						<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
				</div>
				
				<div class="form-group">
					<div class="input-group input-group-lg">
						<label class="input-group-addon" for="username">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</label>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>
				
				<div class="form-group">
					<div class="input-group input-group-lg">
						<label class="input-group-addon" for="password">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>
				
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-block btn-success">Sign up</button>
				</div>
				
				&nbsp; or&nbsp;
				<a href="/#!/signin" class="show-signup">Sign in</a>
				
			</fieldset>
		</form>
	</div>
</section>