.deck-panel {
	overflow: scroll;
	position: fixed;
	left: 0;
	width: 100%;
}

[deck-stack] {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div[deck-stack] {
	white-space: nowrap;
	margin-left: 3em;
	-webkit-transition: .75s ease-in-out width;
	-moz-transition: .75s ease-in-out width;
	-o-transition: .75s ease-in-out width;
	-ms-transition: .75s ease-in-out width;
	transition: .75s ease-in-out width;
}

[deck-stack] > ul{
	list-style: none;
}
