.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.deck-panel{
	border: solid 1px #555;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	height: 450px;
}

.card-list, [card-slot]{
	list-style: none;
	white-space: nowrap;
	display: inline-block;
	position: relative;
}

[card-panel]{
	width: 250px;
	height: 350px;
	margin-top: 25px;
	position: absolute;
	display: inline-block;
	background-image: url('../img/card_001.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

[card-panel]:hover{
	margin-top: 0;
	transition: .5s ease-in-out;
}

.card-slot, [card-panel]:not(.dragging){
	left: 0;
	position: absolute;
	-webkit-transition-delay: 50ms;
	transition-delay: 50ms;
	-webkit-transition: 1.5s ease;
	-moz-transition: 1.5s ease;
	-o-transition: 1.5s ease;
	-ms-transition: 1.5s ease;
	transition: .5s ease-in-out;
}

.card-slot.dragging, [card-panel].dragging {
	position: absolute;
	opacity: 0.95;
	z-index: 9999;
	transition-property: none !important;
}