@font-face {
    font-family: 'Argos';
    src: url('/modules/core/fonts/Argos-Regular.ttf');
}

.text-argos {
	font-family: 'Argos';
	font-weight: bold;
}

.text-narrow {
	display:inline-block;
    transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5)); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
}

.text-24{
	font-size: 2.4em;
}

.text-20{
	font-size: 2.0em;
}

.text-16{
	font-size: 1.6em;
}

.text-12{
	font-size: 1.2em;
}

.text-11{
	font-size: 1.1em;
}

.text-10{
	font-size: 1.0em;
}

.text-9{
	font-size: 0.9em;
}

.text-8{
	font-size: 0.8em;
}

@media (min-height: 501px){
	.content-panel,
	.content-table,
	.content-row,
	.card-menu-list {
		font-size: 13px
	}
}

@media (min-height: 461px) and (max-height: 500px){
	.content-panel,
	.content-table,
	.content-row,
	.card-menu-list {
		font-size: 12px
	}
}

@media (min-height: 421px) and (max-height: 460px){
	.content-panel,
	.content-table,
	.content-row,
	.card-menu-list {
		font-size: 11px
	}
}

@media (min-height: 381px) and (max-height: 420px){
	.content-panel,
	.content-table,
	.content-row,
	.card-menu-list	{
		font-size: 10px
	}
}

@media (min-height: 341px) and (max-height: 380px){
	.content-panel,
	.content-table,
	.content-row,
	.card-menu-list {
		font-size: 9px
	}
}

@media (max-height: 340px){
	.content-panel,
	.content-table,
	.content-row,
	.card-menu-list {
		font-size: 8px
	}
}