@font-face {
    font-family: 'Argos';
    src: url('/modules/core/fonts/argos-regular-webfont.eot');
    src: url('/modules/core/fonts/argos-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/modules/core/fonts/argos-regular-webfont.woff2') format('woff2'),
         url('/modules/core/fonts/argos-regular-webfont.woff') format('woff'),
         url('/modules/core/fonts/argos-regular-webfont.ttf') format('truetype'),
         url('/modules/core/fonts/argos-regular-webfont.svg#argosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.text-argos {
	font-family: 'Argos';
	font-weight: bold;
}

a.text-argos {
	cursor: pointer;
}

.text-narrow {
	display:inline-block;
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
	-moz-transform:scale(1,1.5); /* Firefox */
	-ms-transform:scale(1,1.5); /* IE 9 */
	-o-transform:scale(1,1.5); /* Opera */
	transform:scale(1,1.5); /* W3C */
}

.text-24{
	font-size: 2.4em;
}

.text-22{
	font-size: 2.2em;
}

.text-20{
	font-size: 2.0em;
}

.text-18{
	font-size: 1.8em;
}

.text-16{
	font-size: 1.6em;
}

.text-14{
	font-size: 1.4em;
}

.text-12{
	font-size: 1.2em;
}

.text-11{
	font-size: 1.1em;
}

.text-10{
	font-size: 1.0em;
}

.text-9{
	font-size: 0.9em;
}

.text-8{
	font-size: 0.8em;
}

.text-7{
	font-size: 0.7em;
}

.text-6{
	font-size: 0.6em;
}

.text-5{
	font-size: 0.5em;
}

@media (min-height: 481px){
	body {
		font-size: 16px !important;
	}
}

@media (min-height: 451px) and (max-height: 480px){
	body {
		font-size: 15px !important;
	}
}

@media (min-height: 421px) and (max-height: 450px){
	body {
		font-size: 14px !important;
	}
}

@media (min-height: 391px) and (max-height: 420px){
	body {
		font-size: 13px !important;
	}
}

@media (min-height: 361px) and (max-height: 390px){
	body {
		font-size: 12px !important;
	}
}

@media (min-height: 331px) and (max-height: 360px){
	body {
		font-size: 11px !important;
	}
}

@media (max-height: 330px){
	body {
		font-size: 10px !important;
	}
}