<section data-ng-controller="CampaignController">
	Message-board<br />
	User Name: <input type="text" class="col-xs-10" ng-model="name"><br />
	<div class="col-xs-12" style="border: solid 1px black; background-color: white;">
		<ul style="list-style: none;">
			<li ng-repeat="message in messages">{{message.user}}: {{message.text}}</li>
		</ul>
	</div>
	<input type="text" class="col-xs-10" ng-model="message">
	<input type="submit" class="col-xs-2 fill-height" ng-click="sendMessage()">
</section>
