<section data-ng-controller="CampaignController">
	<h2>Message-board</h2>
	<h4>Username: {{name}}</h4>
	<br />
	<div class="table-row">
		<div class="col-xs-10 table-cell" style="y-overflow: auto; border: solid 1px black; background-color: white;">
			<h3>Messages</h3>
			<ul style="list-style: none;">
				<li ng-repeat="message in messages"><strong>{{message.user}}:</strong> {{message.text}}</li>
			</ul>
		</div>
		<div class="col-xs-2 table-cell" style="y-overflow: auto; border: solid 1px black; background-color: white;">
			<h3>Users</h3>
			<ul style="list-style: none;">
				<li ng-repeat="user in users">{{user}}</li>
			</ul>
		</div>
	</div>
	<input type="text" class="col-xs-8 col-sm-10" ng-model="message">
	<input type="submit" class="col-xs-4 col-sm-2 fill-height" ng-click="sendMessage()">
</section>
