<section data-ng-controller="AspectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Aspects</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="aspect in aspects" data-ng-href="#!/aspects/{{aspect._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="aspect.created | date:'medium'"></span>
				by
				<span data-ng-bind="aspect.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="aspect.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!aspects.$resolved || aspects.length">
    	No Aspects yet, why don't you <a href="/#!/aspects/create">create one</a>?
    </div>
</section>