<div class="content-panel">
	<table class="fill-parent" fit-content>
		<tbody>
			<tr>
				<td style="vertical-align: top; width: 1px;">
					<div card-logo></div>
				</td>
				<td style="vertical-align: top;">
					<div card-header></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: top;">
					<div origin-stats></div>
					<div origin-defenses></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align: bottom;">
					<div ng-repeat="action in card.actions" card-action="action"></div>
					<div card-footer></div>
				 </td>
			</tr>
		</tbody>
	</table>
</div>
<div style="color: darkRed; position: absolute; top: 0; left: 13em; width: 2em;" class="text-center">
	<span class="text-5">
		<span ng-show="card.dragging">D</span>
		<span ng-show="card.stacked">S</span>
		<span ng-show="card.x_overlap">X</span>
		<span ng-show="card.y_overlap">Y</span>
	</span>
</div>