.deck-panel {
	border: solid 1px #555;
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

[card-deck] {
	white-space: nowrap;
	list-style: none;
	position: absolute;
	margin-top: 100px;
	margin-left: 25px;
	height: 100%;
}

[card-slot], [card-panel] {
	display: inline-block;
	position: absolute;
	height: 350px;
	width: 250px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[card-slot]:not(.dragging), [card-panel]:not(.dragging) {
	-webkit-transition: .4s linear all;
	-moz-transition: .4s linear all;
	-o-transition: .4s linear all;
	-ms-transition: .4s linear all;
	transition: .4s linear all;
}

[card-panel] > div > div {
	border-radius: 15px;
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

[card-panel] > div > div {
	-webkit-transition: margin .1s linear;
	-moz-transition: margin .1s linear;
	-o-transition: margin .1s linear;
	-ms-transition: margin .1s linear;
	transition: margin .1s linear;
}

[card-panel] > div > div:hover {
	margin-top: -2px;
	margin-left: 2px;
	-webkit-filter: drop-shadow(1px 1px 1px #000);
	-moz-box-shadow: 1px 1px 1px #00f;
	filter:         drop-shadow(1px 1px 1px #000);
}

[card-slot].ng-enter {
	margin-top: -400px;
}

[card-slot].ng-leave.ng-leave-active {
	margin-top: -400px;
}

[card-slot].ng-leave,
[card-slot].ng-enter.ng-enter-active {
	margin-top: 0;
}

