.deck-panel {
	border: solid 1px #555;
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	left: 0;
	height: 100%;
	width: 100%;
}

[card-deck] {
	white-space: nowrap;
	list-style: none;
	position: fixed;
	height: 100%;
	width: 100%;
}

[card-slot], [card-panel] {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[card-panel]:not(.dragging),
[card-slot]:not(.dragging) {
	-webkit-transition: .5s ease-in all;
	-moz-transition: .5s ease-in all;
	-o-transition: .5s ease-in all;
	-ms-transition: .5s ease-in all;
	transition: .5s ease-in all;
}

[card-panel] > div > div {
	border-radius: 15px;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 2px solid #111;
	border-bottom: 2px solid #111;
}

[card-slot].ng-enter {
	margin-top: -400px;
}

[card-slot].ng-leave.ng-leave-active {
	margin-top: -400px;
}

[card-slot].ng-leave,
[card-slot].ng-enter.ng-enter-active {
	margin-top: 0;
}

