.panel-content {
	height: 100%;
	width: 100%;
	padding: 13px;
}

.content-table {
	display: table;
	padding: 13px;
}

.content-row {
	display: table-row;
}

.content-cell {
	display: table-cell;
	vertical-align: center;
}

.content-cell-top {
	display: table-cell;
	vertical-align: top;
}

.content-cell-bottom {
	display: table-cell;
	vertical-align: bottom;
}

[fit-content] {
	height: 100%;
	width: 100%;
}

[elastic-textarea] {
	resize: none;
	border: none;
	overflow: hidden;
}

.card-menu-list {
	white-space: normal;
	padding-left: 6px;
	font-size: 14px;
	list-style-type: none;
}

.card-menu-list > li > label {
	cursor: pointer;
}

.card-menu-list > li > label:hover {
	text-shadow: 0.5px 0.5px #555;
}

ul.card-list {
	width: 100%;
	list-style-type: none;
}

ul.card-list,
ul.card-list li,
ul.card-list li div {
	padding: 0 !important;
	margin: 0 !important;
}

[type = "checkbox"]:not(old),
[type = "radio"]:not(old){
	cursor: pointer;
	width: 12px;
	height: 12px;
}

a.dropdown-toggle {
	text-decoration: none !important;
	cursor: pointer;
}

a.dropdown-toggle:hover {
	-webkit-filter: drop-shadow(1px 2px 3px #000);
	-moz-box-shadow: 10px 40px 20px #00f;
	filter:         drop-shadow(1px 1px 1px #000);
}

.card-icon-top-left {
	position: absolute;
	top: -8px;
	left: -6px;
	font-size: 16px;
	cursor: pointer;
}

.card-icon-left {
	position: absolute;
	left: -6px;
	font-size: 16px;
	cursor: pointer;
}

.card-icon-bottom-right {
	position: absolute;
	top: 342px;
	left: 238px;
	font-size: 16px;
	cursor: pointer;
}

.absolute-left {
	position: absolute;
	left: 0;
}

.thirteen-left {
	position: absolute;
	left: 13px;
}

.text-descriptive {
	width: 224px;
	resize: none;
	white-space: normal;
	font-style: italic !important;
}

.title-row {
	white-space: nowrap;
}

.title-block {
	display: inline-block;
}

.number-picker {
	width: 125px !important;
	padding: 8px;
}

div.number-picker input{
	font-size: 14px !important;
}

div.dropdown {
	display: inline;
}

div.dropdown-menu {
	min-width: 60px !important;
	width: 242px;
}

.card-indent {
	position: relative;
	left: 12px;
	width: 200px;
}

.card-input {
	font: inherit;
	padding: 0;
	margin-bottom: -5px;
	border: none;
	background: transparent;
	background-origin: none;
}

.logo-trait {
	height: 36px;
	width: 72px;
	margin-right: 2%;
}

.logo-feat {
	height: 36px;
	width: 58px;
	margin-right: 2%;
}

.logo-augment {
	height: 36px;
	width: 100px;
	margin-right: 2%;
}

.logo-item {
	height: 36px;
	width: 65px;
	margin-right: 2%;
}

.logo-npc {
	height: 36px;
	width: 72px;
	margin-right: 2%;
}

[card-pc-1],
[card-pc-2],
[card-pc-3] {
	background-color: Tan;
}

.card-trait {
	background-color: BurlyWood;
}

.card-feat {
	background-color: DarkKhaki;
}

.card-augment {
	background-color: DarkSeaGreen;
}

.card-item {
	background-color: Khaki;
}

