.deck-panel {
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	left: 0;
	width: 100%;
}

[card-deck],
[card-panel] {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[card-deck] {
	white-space: nowrap;
	margin-left: 3em;
}

[card-deck] > ul{
	list-style: none;
}

[card-panel] {
	padding: 1px;
	margin-top: 3em;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

[card-panel].card-moving {
	-webkit-transition: .75s ease-in-out all !important;
	-moz-transition: .75s ease-in-out all !important;
	-o-transition: .75s ease-in-out all !important;
	-ms-transition: .75s ease-in-out all !important;
	transition: .75s ease-in-out all !important;
}

[card-panel].dragging {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

[card-panel] > div > div{
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 2px solid #111;
	border-bottom: 2px solid #111;
}

[card-panel].ng-enter {
	margin-top: -25em;
}

[card-panel].ng-leave.ng-leave-active {
	margin-top: -25em;
}

[card-panel].ng-leave,
[card-panel].ng-enter.ng-enter-active {
	margin-top: 0;
}
