<div ng-switch on="card.cardRole" class="fill-parent">
	<div ng-switch-when="playerOptions" card="card" player-options class="fill-parent"></div>
	<div ng-switch-when="pcSummary" card="card" pc-summary class="fill-parent"></div>
	<div ng-switch-when="pcOptions" card="card" pc-options class="fill-parent"></div>
	<div ng-switch-when="pc1" card="card" card-pc-1 class="fill-parent"></div>
	<div ng-switch-when="pc2" card="card" card-pc-2 class="fill-parent"></div>
	<div ng-switch-when="pc3" card="card" card-pc-3 class="fill-parent"></div>
	<div ng-switch-when="featureCard" feature-card ng-class="" class="card-{{card.data.cardType}} fill-parent"></div>
	<div ng-switch-when="architectOptions" card="card" architect-options class="fill-parent"></div>
	<div ng-switch-when="deckSummary" card="card" deck-summary class="fill-parent"></div>
	<div ng-switch-when="deckOptions" card="card" deck-options class="fill-parent"></div>
	
	<div ng-switch-when="narratorOptions" card="card" narrator-options class="fill-parent"></div>
	<div ng-switch-when="npcSummary" card="card" npc-summary class="fill-parent"></div>
	<div ng-switch-when="npcOptions" card="card" npc-options class="fill-parent"></div>
	
	<div ng-switch-when="campaignSummary" card="card" campaign-summary class="fill-parent"></div>
	<div ng-switch-when="campaignOptions" card="card" campaign-options class="fill-parent"></div>
</div>