<div class="content-panel">
	<h4 class="text-argos text-16 text-center">Deck Options</h4>
	<input id="name" class="text-14 fill-width card-input text-center" type="text"
		ng-model="Bakery.resource.name" stop-event/>
	<br />
	<div class="text-center">
		<a class="fill-width text-argos text-16 text-center"
			ng-click="addCard(Bakery.resource, Bakery.resource.deckType, Bakery.resource.cardList.length, true)">
			Add Card
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-16"
			ng-click="editDeck(Bakery.resource, true, false)">
			Save Deck
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-16 text-center"
			ng-click="readDeck(Bakery.resource)">
			Reload Deck
		</a>
	</div>
	<div ng-if="Bakery.resource.deckType !== 'Aspect'" class="dropdown fill-width text-center" dropdown stop-event on-toggle="toggled(open)">
		<a id="cardDropdown" class="dropdown-toggle fill-width text-argos text-16 text-center"
			dropdown-toggle ng-click="dropdown" aria-expanded="true">
			Dependencies
		</a>
		<div class="dropdown-menu" style="width: 14em;"
				aria-labelledby="cardDropdown">
				<div class="text-8">
					<ul class="col-xs-6">
						<li role="presentation" class="dropdown-header">Deck Dependencies</li>
						<li role="presentation" ng-repeat="dependency in Bakery.dependencyDecks"
							stop-click><label>
							<input type="checkbox" value="dependency" 
								ng-checked="BuilderHub.findDependency(dependency, Bakery.resource) > -1"
								ng-click="BuilderHub.toggleDependency(dependency, Bakery.resource)" >
							{{dependency.name}}
						</label></li>
						
					</ul>
				</div>
		</div>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="shuffleDeck(Bakery.resource.cardList)">
			Shuffle Deck
		</a>
	</div>
</div>