<div class="content-panel">
	<h4>
		<span data-ng-bind="panel.name"></span>
	</h4>
	<h5>
		<span data-ng-bind="panel.deckType"></span> Deck (<span data-ng-bind="panel.deckSize"></span>)
	</h5>
	<small class="list-group-item-text text-muted">
		Created
		<span data-ng-bind="panel.created | date:'short'"></span>
	</small>
	<div style="position: absolute; top: 19em; left: 0.5em; width: 2em;" class="text-left">
		<a data-ng-click="readDeck(panel);" stop-event>
			<i class="glyphicon glyphicon-edit green-icon text-14"></i>
		</a>
	</div>
	<div style="position: absolute; top: 19em; left: 12.5em; width: 2em;" class="text-right">
		<a data-ng-click="deleteDeck(panel);" stop-event>
			<i class="glyphicon glyphicon-trash red-icon text-14"></i>
		</a>
	</div>
</div>