.deck-panel {
	overflow-x: auto;
	overflow-y: auto;
	position: fixed;
	left: 0;
	width: 100%;
}

[card-deck],
[card-panel] {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div[card-deck] {
	white-space: nowrap;
	margin-left: 3em;
	-webkit-transition: .75s ease-in-out width;
	-moz-transition: .75s ease-in-out width;
	-o-transition: .75s ease-in-out width;
	-ms-transition: .75s ease-in-out width;
	transition: .75s ease-in-out width;
}

[card-deck] > ul{
	list-style: none;
}

[card-panel] {
	padding: .1em;
	margin-top: 3em;
	height: 21em;
	width: 15em;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

[card-panel].card-moving {
	transition-property: top, left;
	-webkit-transition: .75s ease-in-out !important;
	-moz-transition: .75s ease-in-out !important;
	-o-transition: .75s ease-in-out !important;
	-ms-transition: .75s ease-in-out !important;
	transition: .75s ease-in-out !important;
}

[card-panel].dragging {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

[card-panel] > div > div{
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 2px solid #111;
	border-bottom: 2px solid #111;
	background-color: Tan;
}

[card-panel].ng-leave, [card-panel].ng-enter {
	transition-property: top, left;
	-webkit-transition: 1s ease-in-out !important;
	-moz-transition: 1s ease-in-out !important;
	-o-transition: 1s ease-in-out !important;
	-ms-transition: 1s ease-in-out !important;
	transition: 1s ease-in-out !important;
}

[card-panel].ng-leave.ng-leave-active {
	margin-top: 45em;
}

[card-panel].ng-enter.ng-enter-active {
	
}

.card-trait {
	background-color: BurlyWood !important;
}

.card-feat {
	background-color: DarkKhaki !important;
}

.card-augment {
	background-color: DarkSeaGreen !important;
}

.card-item  {
	background-color: Khaki !important;
}

.card-origin {
	background-color: Beige !important;
}

.card-note {
	background-color: CornSilk !important;
}