<div class="content-panel">
	<div ng-if="!card.optionCard">
		<h4>
			<i style="font-size: 80px;" class="glyphicon glyphicon-user"></i>
		</h4>
		<h4>
			{{card.name}}
		</h4>
			{{card.sex}} {{card.race}}
		<br />
		<small class="list-group-item-text text-muted">
			Created
			<span data-ng-bind="card.created | date:'short'"></span>
		</small>
		<div class="pull-right" >
			<a class="btn btn-sm btn-primary" data-ng-click="openPc(card);" stop-event>
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-sm btn-danger" data-ng-click="pcs.deletePc(card);" stop-event>
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	<div ng-if="card.optionCard">
		<input type="submit" style="width: 100%"
			class="btn btn-lg btn-success text-center"
			ng-click="newPc()"
			value="New Player Character">
	</div>
</div>