<section data-ng-controller="PcsCtrl" data-ng-init="pcs.browsePcs()" screen-size>
	<div class="container-fluid deck-panel" ng-style="{'height': (cardDeck.windowHeight - 50)+'px'}">
		<div card-deck ng-mouseleave="true">
			<ul ng-cloak>
				<li card-panel card="card"
					data-ng-repeat="card in pcs.pcList | filter:searchText"
					ng-class="{'stacked': card.stacked, 'dragging': card.dragging,
						'x_overlap': card.x_overlap, 'y_overlap': card.y_overlap}"
					ng-style="{'z-index': 4998 - card.x_coord + card.y_coord}"
					ng-mousemove="true" ng-click="true">
					<div ng-class="card.cardType"></div>
				</li>
			</ul>
		</div>
	</div>
</section>