<section data-ng-controller="PcsCtrl" data-ng-init="pcs.browsePcs()">
	<div class="page-header">
		<h1>Player Characters</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-9"
			style="padding-bottom: 2%">
			<div class="input-group input-group-lg">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="glyphicon glyphicon-search text-muted"></i>
					</button>
				</span>
				<input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-3"
			style="padding-bottom: 2%">
			<input type="submit" style="width: 100%"
				class="btn btn-lg btn-success text-center"
				ng-click="newPc()"
				value="New Player Character">
		</div>
	</div>
	<br />
	<br />
	<div class="list-group">
		<div class="col-xs-6 col-sm-4 col-md-3" data-ng-repeat="pc in pcs.pcList | filter:searchText">
			<div class="list-group-item">
				<h4>
					<i style="font-size: 80px;" class="glyphicon glyphicon-user"></i>
				</h4>
				<h4>
					{{pc.name}}
				</h4>
					{{pc.sex}} {{pc.race}}
				<br />
				<small class="list-group-item-text text-muted">
					Created by {{pc.user.displayName}} on
					<span data-ng-bind="pc.created | date:'short'"></span>
				</small>
				<div class="pull-right" >
					<a class="btn btn-sm btn-primary" data-ng-click="openPc(pc);">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-sm btn-danger" data-ng-click="pcs.deletePc(pc);">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	
</section>