<div class="panel-content">
	<div class="dropdown card-icon-top-left">
		<a id="cardDropdown" class="dropdown-toggle"
			ng-click="dropdown" aria-expanded="true">
			<i class="card-icon glyphicon glyphicon-cog"></i>
		</a>
		<ul class="card-menu-list dropdown-menu" aria-labelledby="cardDropdown">
			<li ng-click="savePc();"><label>
				<i class="glyphicon glyphicon-ok alert-success"></i> Save Character
			</label></li>
			<li ng-click="savePc(); exitPc();"><label>
				<i class="glyphicon glyphicon-remove alert-danger"></i> Save & Exit
			</label></li>
			<li ng-click="exitPc();"><label>
				<i class="glyphicon glyphicon-exit alert-warning"></i> Exit Without Saving
			</label></li>
		</ul>
	</div>
	<table width="100%" height="20%">
		<tbody>
			<tr height="55%">
				<td>
					<label for="name"><strong>Name: </strong></label>
				</td>
				<td colspan="3">
					<input id="name" class="fill-width clear-input" type="text"
						 ng-model="pcs.pc.name" stop-event/>
				</td>
			</tr>

			<tr height="45%">
				<td width="25%">
					<label for="race"><strong>Race:  </strong></label>
				</td>
				<td width="30%">
					<div id="race">
						{{pcs.pc.race}}
					</div>
				</td>
				<td width="15%">
					<label for="sex"><strong>Sex: </strong></label>
				</td>
				<td width="30%">
					<select id="sex" class="fill-width"
						ng-model="pcs.pc.sex"
						ng-options="sex for sex in dataSRVC.sexArray"
						stop-event>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table width="100%" height="80%">
		<tbody>
			<tr height="15%">
				<td width="20%">
					<div class="dropdown">
						<a id="strDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(0);" aria-expanded="true">
							<img stop-event
								ng-src={{pcs.pc.abilities[0].dice.image}}
								alt="{{pcs.pc.abilities[0].dice.name}}"
								class="dice-image">
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="strDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="30%">
					<label for="strDropdown">
						<strong>STR</strong>ength
					</label>
				</td>
				<td width="20%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(1);" aria-expanded="true">
							<img id="phyDie" stop-event
								ng-src={{pcs.pc.abilities[1].dice.image}}
								alt="{{pcs.pc.abilities[1].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="30%">
					<label for="phyDie">
						<strong>PHY</strong>sique
					</label>
				</td>	
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Block Defense:</strong></div>
					<div class="text-9px">Item + (STR or PHY)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.block}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(2);" aria-expanded="true">
							<img id="fleDie" stop-event
								ng-src={{pcs.pc.abilities[2].dice.image}}
								alt="{{pcs.pc.abilities[2].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="35%">
					<label for="fleDie">
						<strong>FLE</strong>xibility
					</label>
				</td>
				
				<td width="15%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(3);" aria-expanded="true">
							<img id="dexDie" stop-event
								ng-src={{pcs.pc.abilities[3].dice.image}}
								alt="{{pcs.pc.abilities[3].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="35%">
					<label for="dexDie">
						<strong>DEX</strong>terity
					</label>
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Dodge Defense:</strong></div>
					<div class="text-9px">2d(FLE or DEX)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.dodge}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(4);" aria-expanded="true">
							<img id="acuDie" stop-event
								ng-src={{pcs.pc.abilities[4].dice.image}}
								alt="{{pcs.pc.abilities[4].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="35%">
					<label for="acuDie">
						<strong>ACU</strong>ity
					</label>
				</td>
				<td width="15%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(5);" aria-expanded="true">
							<img id="intDie" stop-event
								ng-src={{pcs.pc.abilities[5].dice.image}}
								alt="{{pcs.pc.abilities[5].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="35%">
					<label for="intDie">
						<strong>INT</strong>ellect
					</label>
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Alertness Defense:</strong></div>
					<div class="text-9px">2d(ACU or INT)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.alertness}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(6);" aria-expanded="true">
							<img id="wisDie" stop-event
								ng-src={{pcs.pc.abilities[6].dice.image}}
								alt="{{pcs.pc.abilities[6].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="35%">
					<label for="wisDie">
						<strong>WIS</strong>dom
					</label>
				</td>
				<td width="15%">
					<div class="dropdown">
						<a id="cardDropdown" class="dropdown-toggle"
							ng-click="dropdown; pcsCard1.chooseAbility(7);" aria-expanded="true">
							<img id="chaDie" stop-event
								ng-src={{pcs.pc.abilities[7].dice.image}}
								alt="{{pcs.pc.abilities[7].dice.name}}"
								class="dice-image" />
						</a>
						<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
							<img ng-repeat="dice in pcs.pc.dicepool track by $index"
								ng-src={{dice.image}} alt={{dice.name}}
								ng-show="dice.order || $index == 0"
								ng-click="pcsCard1.chooseDie(dice.order)"
								class="col-xs-4" />
						</div>
					</div>
				</td>
				<td width="35%">
					<label for="chaDie">
						<strong>CHA</strong>risma
					</label>
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Tenacity Defense:</strong></div>
					<div class="text-9px">2d(WIS or CHA)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.tenacity}}
					</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>