<div class="card-overlay" ng-if="$parent.status.dropdownOpen" stop-event></div>
<div class="content-panel">
	<table width="100%" height="100%">
		<tbody>
			<tr>
				<td width="35%">
					<div class="text-10"><strong>Resistance</strong></div>
					<div class="text-8 text-right">STR + PHY +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[1]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Steady Travel</strong></div>
					<div class="text-8 text-right">STR + PHY +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[2]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-10"><strong>Muscle</strong></div>
					<div class="text-8 text-right">2d(STR) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[3]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Recovery</strong></div>
					<div class="text-8 text-right">2d(PHY) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[4]}}
					</div>
				</td>
			</tr>
			<tr style="font-size: 9">
				<td width="35%">
					<div class="text-10"><strong>Climb</strong></div>
					<div class="text-8 text-right">FLE + DEX +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[5]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Stealth</strong></div>
					<div class="text-8 text-right">FLE + DEX +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[6]}}
					</div>
				</td>
			</tr>
			<tr style="font-size: 9">
				<td width="35%">
					<div class="text-10"><strong>Balance</strong></div>
					<div class="text-8 text-right">2d(FLE) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[7]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Thievery</strong></div>
					<div class="text-8 text-right">2d(DEX) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[8]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-10"><strong>Read Tracks</strong></div>
					<div class="text-8 text-right">ACU + INT +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[9]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Analyze Aura</strong></div>
					<div class="text-8 text-right">ACU + INT +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[10]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-10"><strong>Perception</strong></div>
					<div class="text-8 text-right">2d(ACU) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[11]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Arcane Lore</strong></div>
					<div class="text-8 text-right">2d(INT) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[12]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-10"><strong>Diplomacy</strong></div>
					<div class="text-8 text-right">WIS + CHA +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[13]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Heal</strong></div>
					<div class="text-8 text-right">WIS + CHA +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[14]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-10"><strong>Intuition</strong></div>
					<div class="text-8 text-right">2d(WIS) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[15]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-10"><strong>Subterfuge</strong></div>
					<div class="text-8 text-right">2d(CHA) +</div>
				</td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[16]}}
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-10" width="35%"><strong>Points<br>Remaining:</strong></td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.skills[0]}}
					</div>
				</td>
				<td class="text-10" width="35%"><strong>Max<br>Level:</strong></td>
				<td width="15%">
					<div class="text-12 text-center">
						{{card.level}}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>