<div class="panel-content">
	<div class="dropdown card-icon-top-left" dropdown>
		<a id="cardDropdown" class="dropdown-toggle" dropdown-toggle
			ng-click="dropdown" aria-expanded="true">
			<i class="card-icon glyphicon glyphicon-cog"></i>
		</a>
		<ul class="card-menu-list dropdown-menu" aria-labelledby="cardDropdown">
			<li ng-click="savePc();"><label>
				<i class="glyphicon glyphicon-ok alert-success"></i> Save Character
			</label></li>
			<li ng-click="savePc(); exitPc();"><label>
				<i class="glyphicon glyphicon-remove alert-danger"></i> Save & Exit
			</label></li>
			<li ng-click="exitPc();"><label>
				<i class="glyphicon glyphicon-exit alert-warning"></i> Exit Without Saving
			</label></li>
		</ul>
	</div>
	<table width="100%" height="20%">
		<tbody>
			<tr height="55%">
				<td>
					<label for="name"><strong>Name: </strong></label>
				</td>
				<td colspan="3">
					<input id="name" class="fill-width card-input" type="text"
						 ng-model="pcs.pc.name" stop-event/>
				</td>
			</tr>

			<tr height="45%">
				<td width="25%">
					<label for="race"><strong>Race:  </strong></label>
				</td>
				<td width="30%">
					<div id="race">
						{{pcs.pc.race}}
					</div>
				</td>
				<td width="15%">
					<label for="sex"><strong>Sex: </strong></label>
				</td>
				<td width="30%">
					<select id="sex" class="fill-width"
						ng-model="pcs.pc.sex"
						ng-options="sex for sex in dataSRVC.sexArray"
						stop-event>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table width="100%" height="80%">
		<tbody>
			<tr height="15%">
				<td width="20%">
					<div dice-dropdown ability="pcs.pc.abilities[0]" ></div>
				</td>
				<td width="30%">
					<strong>STR</strong>ength
				</td>
				<td width="20%">
					<div dice-dropdown ability="pcs.pc.abilities[1]" ></div>
				</td>
				<td width="30%">
					<strong>PHY</strong>sique
				</td>	
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Block Defense:</strong></div>
					<div class="text-9px">Item + (STR or PHY)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.block}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<div dice-dropdown ability="pcs.pc.abilities[2]" ></div>
				</td>
				<td width="35%">
					<strong>FLE</strong>xibility
				</td>
				
				<td width="15%">
					<div dice-dropdown ability="pcs.pc.abilities[3]" ></div>
				</td>
				<td width="35%">
					<strong>DEX</strong>terity
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Dodge Defense:</strong></div>
					<div class="text-9px">2d(FLE or DEX)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.dodge}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<div dice-dropdown ability="pcs.pc.abilities[4]" ></div>
				</td>
				<td width="35%">
					<strong>ACU</strong>ity
				</td>
				<td width="15%">
					<div dice-dropdown ability="pcs.pc.abilities[5]" ></div>
				</td>
				<td width="35%">
					<strong>INT</strong>ellect
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Alertness Defense:</strong></div>
					<div class="text-9px">2d(ACU or INT)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.alertness}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<div dice-dropdown ability="pcs.pc.abilities[6]" ></div>
				</td>
				<td width="35%">
					<strong>WIS</strong>dom
				</td>
				<td width="15%">
					<div dice-dropdown ability="pcs.pc.abilities[7]" ></div>
				</td>
				<td width="35%">
					<strong>CHA</strong>risma
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Tenacity Defense:</strong></div>
					<div class="text-9px">2d(WIS or CHA)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{pcs.pc.tenacity}}
					</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>