<section data-ng-controller="PcsCreateController as pcCreateCtrl" >
	<div class="modal-header">
		<h3 class="modal-title">New Player Character</h3>
	</div>
	<div class="modal-body">
		<form name="createPcForm">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pcCreateCtrl.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label" for="sex">Sex</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pcCreateCtrl.sex" id="sex" class="form-control" placeholder="Sex" required>
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label" for="race">Race</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pcCreateCtrl.race" id="race" class="form-control" placeholder="Race" required>
                    </div>
                </div>
				
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
	<div class="modal-footer">
		<button class="btn btn-success btn-lg" ng-click="pcCreateCtrl.create(); ok()">
			Save & Close
		</button>
		<button class="btn btn-warning btn-lg" ng-click="cancel()">
			Close
		</button>
	</div>
</section>