<section data-ng-controller="PcsController as pcsCtrl" data-ng-init="pcsCtrl.pcsBreadSRVC.addPc()">
	<div class="page-header">
		<h2>New Player Character</h2>
	</div>
	<div class="col-md-12">
		<form name="createPcForm">
            <fieldset>
				
				<div class="deck-panel">
					<ul class="card-list">
						<li ng-repeat="(key, card) in pcsCtrl.pcsBreadSRVC.pc.cardList" class="card-slot"
							style="z-index: {{pcsCtrl.pcsBreadSRVC.cardListLength() - card.index}}; left: {{card.column}};"
							ng-style="{left: ((card.column) + 'px')}">
							<div card-panel pc-card card="card"
								ng-class="{overlap: card.overlap}"
								ng-mousemove="" ng-click="">
							</div>
						</li>
					</ol>
				</div>
				
				<div class="form-group col-xs-offset-4 col-sm-offset-5 col-md-offset-6">
					<input type="submit" value="Save"
						ng-click="pcsCtrl.pcsBreadSRVC.editPc();"
						class="col-xs-4 btn btn-success">
					<input type="submit" value="Save & Exit"
						ng-click="pcsCtrl.pcsBreadSRVC.editPc(); pcsCtrl.go('pcs');"
						class="col-xs-4 btn btn-warning">
					<input type="submit" value="Exit Without Saving"
						 ng-click="pcsCtrl.pcsBreadSRVC.deletePc(); pcsCtrl.go('pcs');"
						class="col-xs-4 btn btn-danger">
				</div>
				
				
			</fieldset>
        </form>
    </div>
</section>