<div class="dropdown dropup">
	<a id="cardDropdown" class="dropdown-toggle"
		ng-click="dropdown; $parent.pcsCard1.chooseAbility(ability.order);" aria-expanded="true">
		<img stop-event
			ng-src={{ability.dice.image}}
			alt="{{ability.dice.name}}"
			class="dice-image" />
	</a>
	<div class="dice-dropdown dropdown-menu" aria-labelledby="cardDropdown">
		<img ng-repeat="dice in $parent.pcs.pc.dicepool track by $index"
			ng-src={{dice.image}} alt={{dice.name}}
			ng-show="dice.order || $index == 0"
			ng-click="$parent.$parent.pcsCard1.chooseDie(dice.order)"
			class="dice-dropdown-image" />
	</div>
</div>