<div class="content-table">
	<div class="content-row" style="height: 33%">
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[0].image}}
				alt={{Bakery.resource.dicepool[0].name}}
				ng-click="PlayerHub.chooseDie(0);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[1].image}}
				alt={{Bakery.resource.dicepool[1].name}}
				ng-show="Bakery.resource.dicepool[1].order > 0"
				ng-click="PlayerHub.chooseDie(1);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[2].image}}
				alt={{Bakery.resource.dicepool[2].name}}
				ng-show="Bakery.resource.dicepool[2].order > 0"
				ng-click="PlayerHub.chooseDie(2);"
				class="dice-box-image" />
		</div>
	</div>
	<div class="content-row" style="height: 33%">
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[3].image}}
				alt={{Bakery.resource.dicepool[3].name}}
				ng-show="Bakery.resource.dicepool[3].order > 0"
				ng-click="PlayerHub.chooseDie(3);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[4].image}}
				alt={{Bakery.resource.dicepool[4].name}}
				ng-show="Bakery.resource.dicepool[4].order > 0"
				ng-click="PlayerHub.chooseDie(4);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[5].image}}
				alt={{Bakery.resource.dicepool[5].name}}
				ng-show="Bakery.resource.dicepool[5].order > 0"
				ng-click="PlayerHub.chooseDie(5);"
				class="dice-box-image" />
		</div>
	</div>
	<div class="content-row" style="height: 33%">
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[6].image}}
				alt={{Bakery.resource.dicepool[6].name}}
				ng-show="Bakery.resource.dicepool[6].order > 0"
				ng-click="PlayerHub.chooseDie(6);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[7].image}}
				alt={{Bakery.resource.dicepool[7].name}}
				ng-show="Bakery.resource.dicepool[7].order > 0"
				ng-click="PlayerHub.chooseDie(7);"
				class="dice-box-image" />
		</div>
		<div class="content-cell" style="width: 33%">
			<img ng-src={{Bakery.resource.dicepool[8].image}}
				alt={{Bakery.resource.dicepool[8].name}}
				ng-show="Bakery.resource.dicepool[8].order > 0"
				ng-click="PlayerHub.chooseDie(8);"
				class="dice-box-image" />
		</div>
	</div>
</div>