<section data-ng-controller="PcsCtrl" data-ng-init="pcs.readPc()" screen-size>
	<div class="container-fluid deck-panel"
		ng-style="{'height': (windowHeight - 50)+'px'}">
		<div class="fill-parent modal-overlay" ng-click="pcsCard1.diceBoxShown = !pcsCard1.diceBoxShown" ng-show="pcsCard1.diceBoxShown"></div>
		<div card-deck ng-mouseleave=""
			ng-style="{'height': (windowHeight - 50)+'px', 'margin-left': (windowScale * 2)+'px',
				'width': (windowScale * cardDeck.getDeckWidth('home'))+'px'}">
			<ul>
				<li ng-cloak card-panel card-layout card="card" ng-repeat="card in pcs.pc.cards"
					ng-class="{'stacked': card.stacked, 'dragging': card.dragging,
						'x_overlap': card.x_overlap, 'y_overlap': card.y_overlap}"
					ng-style="{'z-index': 4998 - card.x_coord + card.y_coord/2,
						'margin-top': ($parent.windowScale * 2)+'px'}"
					ng-mousemove="true" ng-click="true">
				</li>
			</ul>
		</div>
	</div>
	<div dice-box ng-show="pcsCard1.diceBoxShown"></div>
</section>