<section data-ng-controller="PcsCtrl" data-ng-init="pcs.readPc()">
	<div class="col-md-12 fill-height">
		<div >
			<div class='modal-overlay' ng-show="pcsCard1.diceBoxShown" ng-click='pcsCard1.hideDiceBox()'></div>
			<div style="overflow: hidden;">
				<div class="dice-box text-center" ng-hide="card.locked"
					ng-style="{left: ((pcs.pc.cards[0].x_coord + 25) + 'px')}"
					ng-class="{diceBoxShown: pcsCard1.diceBoxShown}">
					<div style="height: 20px; color: lightblue;">
						<b>Choose {{pcsCard1.chosenAbility.name}} Die:</b>
					</div>
					<img ng-repeat="dice in pcs.pc.dicepool track by $index"
						ng-src={{dice.image}} alt={{dice.name}}
						ng-show="dice.order || $index == 0"
						ng-click="pcsCard1.chooseDie(dice.order)"
						class="shadow-light dice-box-image" />
				</div>
				<div class="deck-panel">
					<div card-deck ng-mouseleave=""
						ng-style="{'width': (pcs.deckWidth() + 'px')}">
						<ul>
							<li card-slot card="card"
								ng-repeat="card in pcs.pc.cards"
								style="z-index: {{4998 - card.x_coord/25 + card.y_index}};
									left: {{card.x_coord}}px; top: {{card.y_coord}}px;">
								<div card-panel card-layout card="card"
									ng-class="{'x_overlap': card.x_overlap, 'y_overlap': card.y_overlap}"
									stop-event ng-mousemove="true" ng-click="true">
								</div>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group col-xs-offset-4 col-sm-offset-5 col-md-offset-6">
			<input type="submit" value="Save"
				ng-click="savePc();"
				class="col-xs-4 btn btn-success">
			<input type="submit" value="Save & Exit"
				ng-click="savePc(); exitPc();"
				class="col-xs-4 btn btn-warning">
			<input type="submit" value="Exit Without Saving"
				ng-click="exitPc();"
				class="col-xs-4 btn btn-danger">
		</div>
	</div>
</section>