<div class="panel-content">
	<table width="100%" height="20%">
		<tbody>
			<tr height="55%">
				<td>
					<label for="name"><strong>Name: </strong></label>
				</td>
				<td colspan="3">
					<input id="name" class="fill-width" type="text"
						 ng-model="card.name" stop-event/>
				</td>
			</tr>

			<tr height="45%">
				<td width="25%">
					<label for="race"><strong>Race:  </strong></label>
				</td>
				<td width="30%">
					<div id="race">
						{{card.race}}
					</div>
				</td>
				<td width="15%">
					<label for="sex"><strong>Sex: </strong></label>
				</td>
				<td width="30%">
					<select id="sex" class="fill-width"
						ng-model="card.sex"
						ng-options="sex for sex in pcsCtrl.dataSRVC.sexArray"
						stop-event>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table width="100%" height="80%">
		<tbody>
			<tr height="15%">
				<td width="20%">
					<img id="strDie" stop-event
						ng-src={{card.abilities[0].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(0)"
						alt="{{card.abilities[0].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="30%">
					<label for="strDie">
						<strong>STR</strong>ength
					</label>
				</td>
				<td width="20%">
					<img id="phyDie" stop-event
						ng-src={{card.abilities[1].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(1)"
						alt="{{card.abilities[1].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="30%">
					<label for="phyDie">
						<strong>PHY</strong>sique
					</label>
				</td>	
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Block Defense:</strong></div>
					<div class="text-9px">Item + (STR or PHY)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{card.block}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<img id="fleDie" stop-event
						ng-src={{card.abilities[2].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(2)"
						alt="{{card.abilities[2].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="35%">
					<label for="fleDie">
						<strong>FLE</strong>xibility
					</label>
				</td>
				
				<td width="15%">
					<img id="dexDie" stop-event
						ng-src={{card.abilities[3].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(3)"
						alt="{{card.abilities[3].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="35%">
					<label for="dexDie">
						<strong>DEX</strong>terity
					</label>
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Dodge Defense:</strong></div>
					<div class="text-9px">2d(FLE or DEX)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{card.dodge}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<img id="acuDie" stop-event
						ng-src={{card.abilities[4].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(4)"
						alt="{{card.abilities[4].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="35%">
					<label for="acuDie">
						<strong>ACU</strong>ity
					</label>
				</td>
				<td width="15%">
					<img id="intDie" stop-event
						ng-src={{card.abilities[5].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(5)"
						alt="{{card.abilities[5].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="35%">
					<label for="intDie">
						<strong>INT</strong>ellect
					</label>
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Alertness Defense:</strong></div>
					<div class="text-9px">2d(ACU or INT)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{card.alertness}}
					</small>
				</td>
			</tr>

			<tr height="15%">
				<td width="15%">
					<img id="wisDie" stop-event
						ng-src={{card.abilities[6].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(6)"
						alt="{{card.abilities[6].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="35%">
					<label for="wisDie">
						<strong>WIS</strong>dom
					</label>
				</td>
				<td width="15%">
					<img id="chaDie" stop-event
						ng-src={{card.abilities[7].dice.image}}
						ng-click="pcsCtrl.pcsCard1.chooseAbility(7)"
						alt="{{card.abilities[7].dice.name}}"
						class="dice-image shadow-heavy" />
				</td>
				<td width="35%">
					<label for="chaDie">
						<strong>CHA</strong>risma
					</label>
				</td>
			</tr>

			<tr height="10%">
				<td colspan="2" class="text-right">
					<div class="text-10px"><strong>Tenacity Defense:</strong></div>
					<div class="text-9px">2d(WIS or CHA)</div>
				</td>
				<td colspan="2" class="text-center">
					<small>
						{{card.tenacity}}
					</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>