<div class="panel-content">
	<table width="100%" height="100%">
		<tbody>
			<tr>
				<td width="35%">
					<div class="text-11px">Resistance</div>
					<div class="text-9px text-right">STR + PHY +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[1]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Steady Travel</div>
					<div class="text-9px text-right">STR + PHY +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[2]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-11px">Muscle</div>
					<div class="text-9px text-right">2d(STR) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[3]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Recovery</div>
					<div class="text-9px text-right">2d(PHY) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[4]}}
					</div>
				</td>
			</tr>
			<tr style="font-size: 11px">
				<td width="35%">
					<div class="text-11px">Climb</div>
					<div class="text-9px text-right">FLE + DEX +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[5]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Stealth</div>
					<div class="text-9px text-right">FLE + DEX +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[6]}}
					</div>
				</td>
			</tr>
			<tr style="font-size: 11px">
				<td width="35%">
					<div class="text-11px">Balance</div>
					<div class="text-9px text-right">2d(FLE) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[7]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Thievery</div>
					<div class="text-9px text-right">2d(DEX) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[8]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-11px">Read Tracks</div>
					<div class="text-9px text-right">ACU + INT +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[9]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Analyze Aura</div>
					<div class="text-9px text-right">ACU + INT +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[10]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-11px">Perception</div>
					<div class="text-9px text-right">2d(ACU) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[11]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Arcane Lore</div>
					<div class="text-9px text-right">2d(INT) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[12]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-11px">Diplomacy</div>
					<div class="text-9px text-right">WIS + CHA +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[13]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Heal</div>
					<div class="text-9px text-right">WIS + CHA +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[14]}}
					</div>
				</td>
			</tr>
			<tr>
				<td width="35%">
					<div class="text-11px">Intuition</div>
					<div class="text-9px text-right">2d(WIS) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[15]}}
					</div>
				</td>
				<td width="35%">
					<div class="text-11px">Subterfuge</div>
					<div class="text-9px text-right">2d(CHA) +</div>
				</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[16]}}
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-11px" width="35%">Points<br>Remaining:</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.skills[0]}}
					</div>
				</td>
				<td class="text-11px" width="35%">Max<br>Level:</td>
				<td width="15%">
					<div class="text-13px text-center">
						{{card.level}}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>