<div ng-switch on="card.cardType" class="fill-parent">
	<div ng-switch-when="pc1" card="card" pc-1 class="fill-parent"></div>
	<div ng-switch-when="pc2" card="card" pc-2 class="fill-parent"></div>
	<div ng-switch-when="pc3" card="card" pc-3 class="fill-parent"></div>
	<div ng-switch-when="pcTrait" card="card" pc-trait class="fill-parent"></div>
	<div ng-switch-when="pcFeat" card="card" pc-feat class="fill-parent"></div>
	<div ng-switch-when="pcAugment" card="card" pc-augment class="fill-parent"></div>
	<div ng-switch-when="pcItem" card="card" pc-item class="fill-parent"></div>
</div>