<div class="list-group">
	<div class="col-xs-6 col-sm-4 col-md-3" data-ng-repeat="pc in pcsCtrl.pcs | filter:searchText">
		<a ng-click="pcsCtrl.openUpdateModal('lg', pc)" class="list-group-item">
			<h4>
				<i style="font-size: 80px;" class="glyphicon glyphicon-user"></i>
			</h4>
			<h4>
				{{pc.name}}
			</h4>
			<small class="list-group-item-text text-muted">
				Created on
				<span data-ng-bind="pc.created | date:'short'"></span>
				<span class="pull-right">
					<button class="btn btn-sm btn-danger" ng-click="pcsCtrl.remove(pc)">
						<i class="glyphicon glyphicon-trash"></i>
					</button>
				</span>
			</small>
		</a>
	</div>
</div>
<div class="alert alert-warning text-center" data-ng-hide="pcsCtrl.pcs.length">
	No Player Characters yet, why don't you <a ng-click="pcsCtrl.openCreateModal('lg')">create one</a>?
</div>