<div class="content-panel">
	<h4 class="fill-width text-argos text-16 text-center">Architect Options</h4>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="addDeck('Aspect', 16)" stop-event>
			New Aspect Deck
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="addDeck('Trait', 16)" stop-event>
			New Trait Deck
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="addDeck('Feat', 16)" stop-event>
			New Feat Deck
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="addDeck('Augment', 16)" stop-event>
			New Augment Deck
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="addDeck('Item', 16)" stop-event>
			New Item Deck
		</a>
	</div>
	<div class="text-center">
		<a class="fill-width text-argos text-14 text-center"
			ng-click="addDeck('Origin', 16)" stop-event>
			New Origin Deck
		</a>
	</div>
</div>